{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block content %}





<div style="width: 30%; margin: 0px 50px">

	<a href="/">Back</a>
	<br> <br>

	<form>
		<div class="form-group">
			<label for="exampleInputEmail1">Name</label>
			<input type="text" class="form-control" id="nameInput" name="name" placeholder="Chocolate" value="Chocolate">
		</div>
		<br>

		<div class="form-group">
			<label for="exampleFormControlSelect1">Example select</label> <small id="emailHelp" class="form-text text-muted">Click to select city.</small>
			<select class="form-control" id="cityInput" name="city">
				<option>Boston,MA,USA</option>
				<option>Cupertino,CA,USA</option>
				<option>Providence,RI,USA</option>
				<option>Detroit,MI,USA</option>
				<option>Belmont,MA,USA</option>
			</select>
		</div>
		<br>

		<div class="form-group">
			<label class="form-check-label" for="exampleCheck1">Quantity</label>
			<input type="number" id="quantityInput" name="quantity" min="0" value=3>
		</div>
		<br>

		<button id="submitButton" class="btn btn-primary" type="submit">Create Entry</button>
	</form>
</div>

<script>
	/*
	const button = document.getElementById('submitButton');

	button.addEventListener('click', async _ => {

			const ret = {
									"item_name": document.getElementById("nameInput").value,
									"city": document.getElementById("cityInput").value,
									"quantity": document.getElementById("quantityInput").value,
								};

			console.log(ret)

			try {     
					console.log(document.getElementById("cityInput").value)
					const response = await fetch('/createItem', {
							method: 'POST',
							body: JSON.stringify(ret)
						});
					console.log('Completed!', response);
				} catch(err) {
						console.error(`Error: ${err}`);
					}
		});
		 */
	const button = document.getElementById('submitButton');
</script>

<!-- <script type="text/javascript" src="{{ url_for('static', filename='sketch.js') }}"></script> -->
{% endblock %}

