{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block content %}





<div style="width: 30%; margin: 0px 50px">

	<h1 class="display-6">{{title}}</h1>
	<a href="/">Back</a>
	<br> <br>



	<form action={{submitEndpoint}}>
		<input type="hidden" name="id" value={{itemID}} />

		<div class="form-group">
			<label for="exampleInputEmail1">Name</label>
			<input type="text" class="form-control" id="nameInput" name="item_name" placeholder="Chocolate" value={{defaultItemName}}>
		</div>
		<br>

		<div class="form-group">
			<label for="exampleFormControlSelect1">Example select</label> 
			<small id="emailHelp" class="form-text text-muted">Click to select city.</small>
			<select class="form-control" id="cityInput" name="city" value={{defaultCity}}>
				<option>Boston,MA,USA</option>
				<option>Cupertino,CA,USA</option>
				<option>Providence,RI,USA</option>
				<option>Detroit,MI,USA</option>
				<option>Belmont,MA,USA</option>
			</select>
		</div>
		<br>

		<div class="form-group">
			<label class="form-check-label" for="exampleCheck1">Quantity</label>
			<input type="number" id="quantityInput" name="quantity" min="0" value={{defaultQuantity}}>
		</div>
		<br>

		<button id="submitButton" class="btn btn-primary" type="submit">{{title}} Entry</button>
	</form>
</div>

{% endblock %}

